Data Wrangling II
Create an “Academic performance” dataset of students and perform the following operations using
Python.
1. Scan all variables for missing values and inconsistencies. If there are missing values and/or
inconsistencies, use any of the suitable techniques to deal with them.
2. Scan all numeric variables for outliers. If there are outliers, use any of the suitable
techniques to deal with them.
3. Apply data transformations on at least one of the variables. The purpose of this
transformation should be one of the following reasons: to change the scale for better
understanding of the variable, to convert a non-linear relation into a linear one, or to
decrease the skewness and convert the distribution into a normal distribution

In [12]:
import pandas as pd
import numpy as np
df=pd.read_csv('/home/admin1/student_exam_scores.csv')
print(df)

    student_id  hours_studied  sleep_hours  attendance_percent  \
0         S001            8.0          8.8                72.1
1         S002            1.3          8.6                60.7
2         S003            4.0          8.2                73.7
3         S004            3.5          4.8                95.1
4         S005            9.1          6.4                89.8
..         ...            ...          ...                 ...
195       S196           10.5          5.4                94.0
196       S197            7.1          6.1                85.1
197       S198            1.6          6.9                63.8
198       S199           12.0          7.3                50.5
199       S200           10.2          6.3                97.4

     previous_scores  exam_score
0                 45        30.2
1                 55        25.0
2                 86        35.8
3                 66        34.0
4                 71        40.3
..               ...         ...
195               87        42.7
196               92        40.4
197               76        28.2
198               58        42.0
199               68        37.8

[200 rows x 6 columns]

In [2]:
df.isnull().sum()

student_id            0
hours_studied         0
sleep_hours           0
attendance_percent    0
previous_scores       0
exam_score            0
dtype: int64

In [3]:
df.describe()

,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,6.325500,6.622000,74.830000,66.800000,33.955000
std,3.227317,1.497138,14.249905,15.663869,6.789548
min,1.000000,4.000000,50.300000,40.000000,17.100000
25%,3.500000,5.300000,62.200000,54.000000,29.500000
50%,6.150000,6.700000,75.250000,67.500000,34.050000
75%,9.000000,8.025000,87.425000,80.000000,38.750000
max,12.000000,9.000000,100.000000,95.000000,51.300000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   student_id          200 non-null    object
 1   hours_studied       200 non-null    float64
 2   sleep_hours         200 non-null    float64
 3   attendance_percent  200 non-null    float64
 4   previous_scores     200 non-null    int64
 5   exam_score          200 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 9.5+ KB

In [6]:
df.skew

<bound method DataFrame.skew of     student_id  hours_studied  sleep_hours  attendance_percent  \
0         S001            8.0          8.8                72.1
1         S002            1.3          8.6                60.7
2         S003            4.0          8.2                73.7
3         S004            3.5          4.8                95.1
4         S005            9.1          6.4                89.8
..         ...            ...          ...                 ...
195       S196           10.5          5.4                94.0
196       S197            7.1          6.1                85.1
197       S198            1.6          6.9                63.8
198       S199           12.0          7.3                50.5
199       S200           10.2          6.3                97.4

     previous_scores  exam_score
0                 45        30.2
1                 55        25.0
2                 86        35.8
3                 66        34.0
4                 71        40.3
..               ...         ...
195               87        42.7
196               92        40.4
197               76        28.2
198               58        42.0
199               68        37.8

[200 rows x 6 columns]>

In [9]:
df.skew(axis=0,numeric_only=True)

hours_studied         0.117057
sleep_hours          -0.043223
attendance_percent   -0.072890
previous_scores       0.059656
exam_score            0.032575
dtype: float64

In [13]:
df['log_trans']=np.log10(df['exam_score'])

In [14]:
print(df)

    student_id  hours_studied  sleep_hours  attendance_percent  \
0         S001            8.0          8.8                72.1
1         S002            1.3          8.6                60.7
2         S003            4.0          8.2                73.7
3         S004            3.5          4.8                95.1
4         S005            9.1          6.4                89.8
..         ...            ...          ...                 ...
195       S196           10.5          5.4                94.0
196       S197            7.1          6.1                85.1
197       S198            1.6          6.9                63.8
198       S199           12.0          7.3                50.5
199       S200           10.2          6.3                97.4

     previous_scores  exam_score  log_trans
0                 45        30.2   1.480007
1                 55        25.0   1.397940
2                 86        35.8   1.553883
3                 66        34.0   1.531479
4                 71        40.3   1.605305
..               ...         ...        ...
195               87        42.7   1.630428
196               92        40.4   1.606381
197               76        28.2   1.450249
198               58        42.0   1.623249
199               68        37.8   1.577492

[200 rows x 7 columns]